body{
    font-family: 'Orelega One', cursive;
}


.A-n {
    display: flex;
    padding-left:40%;
    width: 10000%;
    padding-top: 12%;
}

.g-e {
    display: flex;
    padding-left: 46%;
    
}

.l {
    display: flex;
    padding-left: 40%;
    width: 100%;
}